@font-face {
  font-family: Confortaa;
  src: url(../assets/fonts/confortaa/Comfortaa-VariableFont_wght.ttf)
}

@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/open_sans/static/OpenSans/OpenSans-Regular.ttf)
}

*, select:option{
  font-family: 'Open Sans';
}

.btn-primary, .btn-primary:focus, .btn-primary:hover, .progress-bar {
  background-color: #483698;
}

.titulo, .btn{
  font-family: Confortaa;
}

.titulo{
  color: #483698;
}

.sub-titulo{
  color: #282828;
  font-size: 20px;
}

body {
  background: #ffe766 !important;
}

.container-register{
  background-color: #FFFFFF;
  border-radius: 30px;
  min-height: 500px;
}

.input-group-text{
  color: #FFF;
  background-color: #483698;
}

.form-control, .form-select{
  border: 1px solid #483698;
}

.button-forma-pagamento{
  background-color: #F9F9F9;
  box-shadow: 2px 2px 5px #B9B9B9;
}

.button-forma-pagamento input {
  margin-left: 25px;
}

.button-forma-pagamento span {
  margin-left: 35px;
}

.button-cadastrar{
  background: #ffe766 !important;
  color: #483698;
  border-radius: 20px;
}

.titulo-dado{
  font-size: 16px;
  font-weight: 300;
}

.dado-revisao{
  font-size: 14px;
}

input {
  background-image: url('') !important;
}

.form-select.is-invalid:not([multiple]):not([size]){
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

@media only screen and  (max-device-width: 500px) {
  .container-index{
    padding: 0;
  }

  .titulo{
    font-size: 25px;
  }
  .button-cadastrar {
    font-size: 15px;
  }

  .container-register{
    margin: 0;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 100% !important;
    position: absolute;
    bottom: 0;
    top: 50px;
  }
}